@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {

    font-size: 0.6rem; /* Adjust this value to your desired smaller size */
    line-height: 0.9rem /* 16px */;

  }

  .text-xxxs {

    font-size: 0.4rem; /* Adjust this value to your desired smaller size */
    line-height: 0.9rem /* 16px */;

  }

  .text-medium {

    font-size: 1.2rem; /* Adjust this value to your desired larger size */
    line-height: 1.8rem /* 16px */;

  }